/*Seteando margenes y pading para modificarlo nosotros*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Variables basicas*/
:root {
    --color-gris-claro: rgb(209, 209, 209);
    --color-gris: rgb(128, 128, 128);
    --color-blanco: rgb(228, 228, 228);
    --color-azul: rgb(59,136,195);
    --fuente-1: 'Anton', sans-serif;
    --fuente-2: 'Oswald';
}
/*Aca van los estilos*/

/*HEADER*/
#cajaHeader{
    background-color: var(--color-azul);
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
}
#logo{
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 5rem;
    font-family: var(--fuente-1);
    font-size: 3rem;
    color: aliceblue;
}
#barraDeBotones{
    height: 35%;
    width: 100%;
    align-items: end;
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: var(--color-azul);
    height: 100%;
    width: 11%;
    border: 0.1rem solid var(--color-gris);
    border-radius: 0.5rem;
    color: aliceblue;
}
#cajaEditar{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
#btnEditar{
    height: 1.5rem;
    width: 5rem;
    border-radius: 1.2rem;
    border: 0.1rem solid var(--color-gris);
}
#cajaBusqueda{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#busqueda{
    height: 1.5rem;
    border-radius: 1.2rem;
    border: 0.1rem solid var(--color-gris);
    position: static;
}
#submit{
    height: 1.5rem;
    width: 2rem;
    border-radius: 1.2rem;
    border: 0.1rem solid var(--color-gris);
    background-color: var(--color-gris);
    position: absolute;
    right: 8.3rem;
}

<<<<<<< HEAD

/*Main*/

.slider{
    width: 900px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    justify-content: center;
    margin-top: 10rem;
    
  }
  
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 400%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width: 100%;
      height: 100%;
  }
  
  /*notis*/
  
  
  
  img{
      max-width: 100%;
      height: auto;
  }
  
  .noticias{
      display: flex;
      margin: auto;
  }
  
  .noticia{
      flex-grow: 1;
      margin: 10px;
      position: relative;
      cursor: pointer;
  }

  .noticia:hover .title{
      display: block;
  }
  
  .title{
      position: absolute;
      bottom: 4px;
      left: 0;
      padding: 16px;
      color: white;
      width: 100%;
      background-image: linear-gradient(to top, rgba(0,0,0,.9), rgba(0,0,0,0));
      display: none;	
      margin: 0;
  }

  @keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}




 /*Fin del Main*/
=======
#seccion_fecha{
    display: flex;
    height: 4rem;
    background-color: var(--color-gris-claro);
    font-family: var(--fuente-2);
    font-style: normal;
}
#clima{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
    margin-left:2rem;
}
#fechaydolar{
    width: 50%;
}
#fecha{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45%;
    margin-right: 2rem;
    font-size: x-large;
}
#barra{
    height: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    background-color: black;
    border-radius: 1rem;
    margin-left: 11rem;
}
#cotizacion{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
}
>>>>>>> origin/Facem


/*Media query de tamaño celular*/
@media (max-width: 600px) {

}