@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.pagina{
    width: 100%;
    background-color: #0a141d;
}
.pagina .lugar1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pagina .lugar1 .caja figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.pagina .lugar1 .caja figure img{
    width: 240px;
}
.pagina .lugar1 .caja h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pagina .lugar1 .caja p{
    color: #efefef;
    margin-bottom: 10px;
}
.pagina .lugar1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pagina .lugar1 .red-social a:hover{
    color: aqua;
}
.pagina .lugar2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pagina .lugar2 small{
    font-size: 16px;
}
@media screen and (max-width:800px){
    .pagina .lugar1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
/*footer siempre abajo*/
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #efefef;
}
footer{
    margin-top: auto;
}