<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team 3 News</title>
    <!--ESTILOS-->
    <link rel="stylesheet" href="stylesheets/estilos.css">
    <!--FUENTES-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!--SCRIPT-->
    <script src="javascripts/script.js"></script>
    <script src="https://kit.fontawesome.com/849b19933d.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/12dc9a86f4.js" crossorigin="anonymous"></script>
    <script src="javascripts/header.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/footer.js"></script>
</head>
<body>
    <header>
        <caja-header></caja-header>
        <input type="checkbox" name="" id="check">
        <checkbox-caja></checkbox-caja>
        <barra-de-botones id="barraDeBotones"></barra-de-botones>
        <seccion-fecha></seccion-fecha>
    </header>
    <main>
        <slider-main></slider-main>
        <noticias-main></noticias-main>
    </main>
    <footer class="pagina">
            <bloque-1></bloque-1>
            <bloque-2></bloque-2>
    </footer>
</body>
</html>